extends layout

block content
  div
    .left
      .nav
        input(type="checkbox", id="filter", checked=true, value="1")
        排除個人
        br
        button(class="prev") 上一頁
        button(class="next") 下一頁
      ul#feeds
        li(style="text-align:center")
      .nav
        button(class="prev") 上一頁
        button(class="next") 下一頁
    .mid
    .right
      ul#detail