doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-3.1.0.min.js')
    script(src='//connect.facebook.net/zh_TW/all.js')
    script(src='/app.js')
  body
    block content
